<!doctype html>
<html lang = "ja">
    <head>
        <meta charset="utf-8">
        <title>index</title>
    </head>
    <body>
        <h2>Flask Web App</h2>
        <p>Pick up feature</p>
<!--        When the user clicks the submit button, the browser will send the form data to the /pref_quiz route of the Flask web application.-->
        <form method="POST" action="/pref_quiz">
            <input type="submit" value="Prefecture Capital quiz">
        </form>
        <br>
        <a href="/logout">Logout</a>
    </body>
</html>